<!doctype html>
<html>
  <head>
    <title>real time | obd2lib</title>
    <script src="https://raw.github.com/joewalnes/smoothie/master/smoothie.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <style type="text/css">
      body {
	  width: 800px;
	  margin: auto;
      }

      p {
	  text-align: right;
      }
    </style>
  </head>

  <body onload="init()">
    <script type="text/javascript">
      function init(){

	  var charts = [];
	  var lines = {};

	  {% for pid in SUPPORTED_PIDS %}
	  chart_{{ pid.pid }} = new SmoothieChart({
	      maxValue: {{ pid.max_value }},
	      minValue: {{ pid.min_value }},
	      interpolation: 'linear',
	      {% if pid.warning_value %}
	      horizontalLines: [{color: '#ff0000', lineWidth: 1,
				 value: {{ pid.warning_value}} }],
	      {% endif %}
	  });
	  chart_{{ pid.pid }}.streamTo(document.getElementById("chart-{{ pid.pid }}"), 1000 /*delay*/);
	  charts.push(chart_{{ pid.pid }})

	  // Data
	  line_{{ pid.pid }} = new TimeSeries();
	  lines["{{ pid.pid }}"] = line_{{ pid.pid }};

	  // Add to SmoothieChart
	  chart_{{ pid.pid }}.addTimeSeries(line_{{ pid.pid }}, {lineWidth: 2, strokeStyle: '#00ff00'})
	  {% endfor %}

	  // Parse SSE and update elements
	  var source = new EventSource("/stream");
	  source.onmessage = function(event){
	      var data = JSON.parse(event.data);
	      try {
		  lines[data.command].append(new Date().getTime(), data.value);
		  text = data.value + ' ' + data.unit;
		  document.getElementById("text-" + data.command).innerHTML = text;
	      }
	      catch (err) {
		  // there is an error here because there are some
		  // pids that do not have the proper max_value and so
		  // they are not created
	      }
	  }
      }
    </script>

    <h1>obd2lib</h1>

    {% for pid in SUPPORTED_PIDS %}
    <h4>{{ pid.description }}</h4>
    <canvas id="chart-{{ pid.pid  }}" width="800" height="150"></canvas>
    <p id="text-{{ pid.pid }}"></p>
    {% endfor %}

  </body>
</html>
